
<script>

document.getElementById("button").style.backgroundColor = "green";

</script>


<div id = "newStatus">
  <h6> Share your story </h6>
  <input type = "text" size= "160" > <br>
    <button  id = "button"> LOL </button>
    <button onclick="toggleClicked(this)"> WTF </button>
    <button onclick="toggleClicked(this)"> HOT </button>
    <button onclick="toggleClicked(this)"> FML </button>
    <button onclick="toggleClicked(this)"> WOW </button>
  <input type = "submit">
</div>

<% @stories.each do |story| %>
<div class = "story">
  <p id = "title"> <%= story.title %> </p>
  <h7 id = "tag"> <%story.categories.each do |tags| %> </h7>
  <div class = "tagTitle">
      <%= tags.tag %>
    </div>
    <% end %>
    <h6 id = "username"> <%= story.user.username %> </h6> <br>

    <div id = "comment"> <%story.comments.each do |comment| %>
      <%=comment.comment %> <br>
      <% end %>
    </div>
    <div id = "newComment">
      <input type = "text" size = "140"> <br>
      <input type = "submit">
    </div>
  </div>
</div>
<% end %>
