li{
  display: inline-block;
  width: 200px;
  height:50 px;
  border: 1 px solid grey;
  padding-left: 100px;
}

#sharebutton{
  margin-left: 400px;
}

img{
  width: 1260px;
  height: 550px;
}

#title, #username{
  display: inline-block;
}

#username{
  color:blue;
  font-size: 14px;
}

.story{
  width: 940px;
  height: auto;
  margin: 20px 100px;
  background-color: lightgrey;
  padding: 20px;
}

#tagTitle{

  font-style: italic;
}

.story img{
  width:50px;
  height: 50px;
}

.tagTitle{
  font-weight: bolder;
  font-family: fantasy;
  display: inline-block;
  color: red;
}
#comment{
  margin-left: 60px;
}

#newStatus{
  margin-left: 100px;
}
#newComment{
  margin:10px 60px;
}

#tagButton{
  width: 50px;
}
